<div class="row card-group">
    <div class="col-3"  *ngFor="let product of products" routerLinkActive="active">      
      <div class="card"  [routerLink]="['/admin', 'products', 'update',product.id]" >
        <img [src]="product.imageUrl" class="prod-img">
        <h2 >{{ product.name }}</h2>
        <p class="price">{{ product.priceAfterDiscount | currency:'INR' }}</p>
        <p class="description">{{ product.description }}</p>
        <div class="label" >ID: {{ product.id }}</div>
      </div>
    </div>
</div>
