<form novalidate (ngSubmit)="save()" [formGroup]="registerForm">
    <div class="form-group row mb-2">
        
        <!-- Name -->
        <div class="control-wrapper">
            <label class="" for="nameId">Your Name</label>
            <input class="form-control"
                    id="nameId"
                    type="text"
                    placeholder="Name (required)"
                    formControlName="name"
                    [ngClass]="{'is-invalid': displayMessage.name}" />
            <span class="invalid-feedback">
                {{ displayMessage.name }}
            </span>
        </div>

        <!-- Mobile -->
        <div class="control-wrapper">
            <label class="" for="mobileId">Mobile Number</label>
            <input class="form-control"
                    id="mobileId"
                    type="text"
                    placeholder="Mobile number (optional)"
                    formControlName="contactNo" 
                    [ngClass]="{'is-invalid': displayMessage.contactNo}"/>
            <span class="invalid-feedback">
                {{ displayMessage.contactNo }}
            </span>
        </div>

        <!-- Email -->
        <div class="control-wrapper">
            <label class="" for="emailId">Email</label>
            <input class="form-control"
                    id="emailId"
                    type="email"
                    placeholder="Email (required)"
                    formControlName="email"
                    [ngClass]="{'is-invalid': displayMessage.email}" />
            <span class="invalid-feedback">
                {{ displayMessage.email }}
            </span>
        </div>

        <!-- Password -->
        <div class="control-wrapper">
            <label class="" for="passwordId">Password</label>
            <input class="form-control"
                    id="passwordId"
                    type="password"
                    placeholder="At least 6 characters"
                    formControlName="password"
                    [ngClass]= "{'is-invalid': displayMessage.password}"/>
            <span class="invalid-feedback">
                {{displayMessage.password}}
            </span>
        </div>

        <!-- Submit button -->
        <div class="control-wrapper" id="final-row">
            <button id="continue-button" type="submit" [disabled]="!registerForm.valid">Continue</button>
        </div>
    </div>
</form>