.container {
    font-family: Roboto;
}

#title {
    font-weight: 400;
    font-style: normal;
    font-size: 2.3em;
}

.card {
    border: 1px solid #5A5858;
    margin-bottom: 0.7em;
    background-color: #E5E5E5;
    color: #5A5858;
}


.card-body {
    padding: 1em;
}

p {
    font-size: 1.1em;
    line-height: 1.1em;
}

.row {
    width: 45%;
}

.header {
    font-weight: bold;
}

.col {  
    text-align: center;
}

.right {
    float: right;
}