<div class="container">
    <p id="title">Your Orders</p>
    <div class="card" *ngFor="let order of orders">
        <div class="card-body">            
            <div class="row header">
                <div class="col"><p>ORDER ID</p></div>
                <div class="col"><p>PLACED ON</p></div>
                <div class="col"><p>TOTAL</p></div>
            </div>
            <div class="row">
                <div class="col"><p><a [routerLink]="['/customers', customerId, 'orders', order.id]">{{ order.id }}</a></p></div>
                <div class="col"><p>{{ order.billingDate }}</p></div>
                <div class="col"><p>{{ order.amount | currency: 'INR' }}</p></div>
            </div>
        </div>
    </div>
</div>