<div class="card-container">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-5 content-left">
                        <div class="row">
                            <p>Customer ID: {{ customer.id }}</p>
                        </div>
                        <div class="row">
                            <p>Name: {{ customer.name }}</p>
                        </div>
                        <div class="row">
                            <p>Email: {{ customer.email }}</p>
                        </div>
                        <div class="row">
                            <p>Phone: {{ customer.contactNo }}</p>
                        </div>
                        <div class="row">
                            <p>Date of birth: {{ customer.dateOfBirth }}</p>
                        </div>
                        <div class="row">
                            <p>Status: <span style="color:#00d600">{{ customer.status }}</span></p>
                        </div>
                        <div class="row back">
                            <button [routerLink]="['/admin', 'customers']" [queryParams]="{ role:'admin' }">Back</button>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <p><b>Address</b></p>
                        </div> 
                        <div class="row">
                            <p>&emsp;Street: {{ customer.address.street }}</p>
                        </div> 
                        <div class="row">
                            <p>&emsp;Door Number: {{ customer.address.doorNo }}</p>
                        </div> 
                        <div class="row">
                            <p>&emsp;Area: {{ customer.address.area }}</p>
                        </div> 
                        <div class="row">
                            <p>&emsp;City: {{ customer.address.city }}</p>
                        </div> 
                        <div class="row">
                            <p>&emsp;State: {{ customer.address.state }}</p>
                        </div> 
                        <div class="row">
                            <p>&emsp;Pincode: {{ customer.address.pincode }}</p>
                        </div> 
                    </div>
                </div> 
            </div>

            <div class="col-2">
                <img [src]="customer.imageUrl" id="person-img">
            </div>
        </div>
    </div>
</div>