<div class="container">
    <div class="card" id="register">
        <p class="card-title">Create Account</p>
        <div class="card-body">
            <div class="wizard">
                <router-outlet></router-outlet>
            </div>
            <!-- Can include icons, if needed --> 
            <!-- <div class="icon-wrapper">
                <a [routerLink]="['basic-info']" routerLinkActive="active">
                    <i class="fa fa-circle"></i>
                </a>
                <a [routerLink]="['additional-info']">
                    <i class="fa fa-circle"></i>
                </a>
            </div> -->
        </div>
    </div>
</div>