<div class="row">
    <p id="page-title">Order details</p>
</div>
<div class="row card-container">
    <div class="card">
        <div class="row"><p>Order ID : {{ order.id }}</p></div>
        <div class="row"><p>Billing date : {{ order.billingDate }}</p></div>
        <div class="row"><p>Total amount : {{ order.amount | currency:'INR' }}</p></div>
        <!-- <div class="row"><p [routerLink]="['/customers', customer.id ,'cart']">View Cart</p></div> -->
    </div>
</div>
<div class="row final">
    <button (click)="confirmOrder()">Confirm Order</button>
</div>