<form novalidate (ngSubmit)="save()" [formGroup]="addProductForm" >
    <div class="form-group row mb-2">
        
        <!-- Name -->
        <div class="control-wrapper">
            <label  for="nameId">Product Name</label>
            <input class="form-control"
                    id="nameId"
                    type="text"
                    formControlName="name"
                    [ngClass]="{
                          'is-invalid':
                          (addProductForm.controls.name.touched || addProductForm.controls.name.dirty) &&                         
                          !addProductForm.controls.name.valid }"
            />
            <span class="invalid-feedback">
                <span *ngIf="addProductForm.controls.name.errors?.required">Please enter value</span>                       
            </span>
        </div>

        <!-- Category -->
        <div class="control-wrapper">
            <label  for="categoryId">Product Category</label>
            <input class="form-control"
                    id="categoryId"
                    type="text"
                    formControlName="category"[ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.category.touched || addProductForm.controls.category.dirty) &&                         
                          !addProductForm.controls.category.valid }"
            />
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.category.errors?.required"></span>
            Please enter value                    
            </span>           
        </div>

        <!-- Description -->
        <div class="control-wrapper">
            <label  for="descriptionId">Description</label>
            <input class="form-control"
                    id="descriptionId"
                    type="text"
                    formControlName="description"[ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.description.touched || addProductForm.controls.description.dirty) &&                         
                          !addProductForm.controls.description.valid 
                      }"
            />
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.description.errors?.required">Please enter value</span>                       
            </span>           
        </div>

        <!-- Brand -->
        <div class="control-wrapper">
            <label  for="brandId">Brand Name</label>
            <input class="form-control"
                    id="brandId"
                    type="text"
                    formControlName="brand"[ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.brand.touched || addProductForm.controls.brand.dirty) &&                         
                          !addProductForm.controls.brand.valid 
                      }"
            />
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.brand.errors?.required">Please enter value</span>                       
            </span>         
        </div>

        <!-- color -->
        <div class="control-wrapper">
            <label  for="colorId">Product Color</label>
            <input class="form-control"
                    id="colorId"
                    type="text"
                    formControlName="color" [ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.color.touched || addProductForm.controls.color.dirty) &&                         
                          !addProductForm.controls.color.valid 
                      }"
            />
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.color.errors?.required">Please enter value</span>                       
            </span>         
        </div>

        <!-- Size -->
        <div class="control-wrapper">
            <label  for="sizeId">Product Size:</label>
            <label >Choose a Size:&nbsp;</label>
        <select class="form-control" 
            id="sizes" name="sizelist"
            formControlName="size" [ngClass]="{
                'is-invalid':
                  (addProductForm.controls.size.touched || addProductForm.controls.size.dirty) &&                         
                  !addProductForm.controls.size.valid 
              }"
            >
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.size.errors?.required">Please enter value</span>                       
            </span>         
                <option value="S">Small</option>
                <option value="M">Medium</option>
                <option value="L">Large</option>
         </select>         
        </div>

        <!-- Price -->
        <div class="control-wrapper">
            <label  for="mrpId">Product Price: </label>
            <input class="form-control" type="number" id="mrp" name="mrp" formControlName="mrp"[ngClass]="{
                'is-invalid':
                  (addProductForm.controls.mrp.touched || addProductForm.controls.mrp.dirty) &&                         
                  !addProductForm.controls.mrp.valid 
              }"
            />
            <span class="invalid-feedback">
                <span
                  *ngIf="addProductForm.controls.mrp.errors?.required"
                  >Please enter value</span>     
                <span *ngIf="addProductForm.controls.mrp.errors?.min">
                    Please enter value greater than 0
                </span>                  
            </span>      
        </div>

        <!-- Discount -->
        <div class="control-wrapper">
            <label  for="mrpId">Product Discount: </label>            
            <label >Range(1-100):</label>
            <input class="form-control" type="number" id="discount" name="discount" min="1" max="100"
            formControlName="discount"[ngClass]="{
                'is-invalid':
                  (addProductForm.controls.discount.touched || addProductForm.controls.discount.dirty) &&                         
                  !addProductForm.controls.discount.valid 
              }"
            />
            <span class="invalid-feedback">
                <span *ngIf="addProductForm.controls.discount.errors?.required">
                    Please enter value
                </span>  
                <span *ngIf="addProductForm.controls.discount.errors?.min">
                    Please enter value greater than 0
                </span>                                    
            </span>      
        </div>

        <!-- Stock -->
        <div class="control-wrapper">
            <label  for="mrpId">Product Stock: </label>
            <input class="form-control" type="number" id="stock" name="stock" 
            formControlName="stock"[ngClass]="{
                'is-invalid':
                  (addProductForm.controls.stock.touched || addProductForm.controls.stock.dirty) &&                         
                  !addProductForm.controls.stock.valid 
              }"
            />
            <span class="invalid-feedback">
                <span
                  *ngIf="addProductForm.controls.stock.errors?.required"
                  >Please enter value</span
                ><span *ngIf="addProductForm.controls.stock.errors?.min">
                    Please enter value greater than 0
                </span>                       
            </span>
                   
        </div>

        <!-- Delivery Date -->
        <div class="date">
            <label  >Estimated Delivery Date:</label>
            <input  id="estimatedDeliveryId"
                    type="date"
                    formControlName="estimatedDelivery" [ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.estimatedDelivery.touched || addProductForm.controls.estimatedDelivery.dirty) &&                         
                          !addProductForm.controls.estimatedDelivery.valid 
                      }"
                    />
            <span class="invalid-feedback">
                    <span *ngIf="addProductForm.controls.estimatedDelivery.errors?.required">Please enter value</span>                  
            </span>
                      
        </div>

          <!-- Image Details -->
          <div class="control-wrapper">
            <label>Image Name:</label>
            <input class="form-control"
                    id="imgNameId"
                    type="text"
                    formControlName="imageName"[ngClass]="{
                        'is-invalid':
                          (addProductForm.controls.imageName.touched || addProductForm.controls.imageName.dirty) &&                         
                          !addProductForm.controls.imageName.valid 
                      }"
                    />
            <span class="invalid-feedback">
            <span *ngIf="addProductForm.controls.imageName.errors?.required">Please enter value</span>                       
            </span>
        </div>

        <!-- Format -->
        <div class="control-wrapper">
         <label>Image Format:</label>
         <label for="jpg">JPEG&nbsp;</label>
         <input type="radio" id="jpg" name="imageFormat" value=".jpg" formControlName="imageFormat"/>
         <label for="png">PNG&nbsp;</label>
         <input type="radio" id="PNG" name="imageFormat" value=".png" formControlName="imageFormat"/>  
        </div>        
            
        <!-- Submit -->
        <div class="control-wrapper" id="final-row">
            <button id="continue-button" type="submit"  >Add Product</button>
        </div>    
        
    </div>
</form>
<router-outlet></router-outlet>